body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container {
    margin: 0;
    background-color: #E4F9F5;
    height: 800px;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/mountaineer-5616419.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0px 118px;
}

h1 {
    margin: 50 auto 40px auto;
    color: #40514E;
    font-family: 'Caveat', cursive;
    font-size: 5.625rem;
}

h2 {
    margin: 0 0 50px;
    font-family: 'Open Sans', sans-serif;
    color: #40514E;
    font-size: 2.5rem;
    font-weight: lighter;
}

p {
    line-height: 2;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 4%;
    border-spacing: 20px;
}

.profile-img {
    margin-top: 50px;
    width: 15%;
    /* height: 250px; */
    padding-bottom: 50px;
}

.skill-row {
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
    line-height: 2;
    padding-bottom: 25px;
}

.code-img {
    width: 20%;
    float: left;
    margin: 30px;
}

.website-create-img {
    width: 20%;
    float: right;
    margin: 30px;
}

.profile  {
    padding-bottom: 25px;
}

.profile-message {
    width: 30%;
    margin: 40px auto 50px auto;
}

.skills {
    padding-top: 50px;
    padding-bottom: 20px;
}

.contact-me {
    padding: 50px 0 10px;
}

.bottom-container {
    background-color: #E4F9F5;
    padding: 40px 0 5px;
}

.contact-message {
    width: 30%;
    margin: 40px auto 50px auto;
}

.social-media-btn {
    border: 0ch;
   background: none; 
   margin: 0 2px;

}

.facebook-img {
    width: 75%;
}

.linkedin-img {
    width: 75%;
}

.github-img {
    width: 80%;
}

.mail-img {
    width: 75%;
}

.copyright {
    padding: 10px;
}
